# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.log
/.vs/COMS327/v15
/Homework1/obj/ARM/Debug
/Assignment0
/Assignment1.01/bin/x64/Debug
/Assignment1.01/obj/x64/Debug/Assignment1.01.log
/Assignment1.01/obj/x64/Debug
Assignment1.05/obj/x64/Debug/-1919930666.RemoteProjectDirFile.tlog
Assignment1.05/Assignment1.05.vcxproj.user
Assignment1.05/Assignment1.05.vcxproj.user
